<div class="container py-4 mt-3">
  <div class="bg-dark text-white py-2 text-center mb-5">
    <h3>
      Your Special Offer: <br /><br />
      {{ currentAd }}
    </h3>
  </div>
  <div class="py-2 mt-2 row align-items-center">
    <div class="col-lg-6">
      <h1 class="text-dark">Welcome At Shopify</h1>
      <p class="text-dark-emphasis lead mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
        dignissimos consequatur voluptatibus sint labore ullam reiciendis
        perspiciatis tenetur atque quae debitis necessitatibus, maxime excepturi
        quo nihil, expedita quaerat. Aut.
      </p>
      <p class="text-dark-emphasis lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
        dignissimos consequatur voluptatibus sint labore ullam reiciendis
        perspiciatis tenetur atque quae debitis necessitatibus, maxime excepturi
        quo nihil, expedita quaerat. Aut.
      </p>
      <button class="btn btn-dark mt-5">Show More</button>
    </div>
    <div class="image col-lg-6">
      <img src="Add to Cart.gif" alt="" />
    </div>
  </div>
</div>
